/* -------------------網頁基本設定---------------------------------------------*/

:root {

  --totalHeight;
}

.container-fluid{

  height: 100vh;

  background-color: #F5F5F5;

  padding: 0;

  margin: 0;

  position: relative;

  overflow: hidden;
}

ul{

  list-style-type: none;

  margin: 0;

  clear: both;

  float: left;
}



/* -------------------nav設定--------------------------------------------*/

#nav,#nav2{

  width: 100%;

  height: 61.5px;

  background-color: white;

  box-shadow: inset 0px 0px 4px rgba(200,200,200,1);

  position:absolute;

  z-index: 100;

  left: 0;

  overflow: hidden;

  clear: both;

  float:left;

  padding: 0;

  margin: 0;
}

#nav{

  top: 0%;

  position: fixed;
}

#nav2{

  top: -10%;
}

#navBox1{
  width: 15%;

  height: 60px;

  background-color: white;

  float: left;
}

#navBox2{

  width: 5%;

  height: 60px;

  float: left;
}

#navBox3{

  width: 60%;

  height: 60px;

  float: left;
}

#navBox4{

  width: 5%;

  height: 60px;

  float: left;
}

#navBox5{

  width: 15%;

  height: 60px;

  float: left;
}

#gif1-1,#gif1-1-slideDown,#gif1-2,#gif2-1,#gif2-2,#mail1,#mail2,#mail2-1,#mail3{

  background-size: cover;

  background-position: 50% 50%;

  background-repeat: no-repeat;

  cursor: pointer; 
}

#gif1-1-slideDown,#gif1-2,#gif2-1,#gif2-2,#mail2{

  width: 70px;

  min-height: 60px;

  position: absolute;

  top: 60px;
}

#gif1-2,#gif2-1,#gif2-2{

  top: 0px;

  display: none;
}

#gif1-1-slideDown,#mail2{

  top: 60px;

  opacity: 0;
}

#gif1-1{

  width: 70px;

  min-height: 60px;

  position: absolute;

  top: 0;opacity: 1;

  display: block;

  cursor: pointer;

  float: left; 
}

#mail2-1,#mail3{

  width: 70px;

  min-height: 60px;

  position: absolute;

  top: 0px;

  display: none;
}

#mail{

  float: right;

  text-align: right;
}

#mail1{

  width: 70px;

  height: 60px;

  position: absolute;

  top: 0;

  right: 0;

  display: block;
}

#mail2,#mail2-1,#mail3{

  right: 0;
}

#menu,#sentMail {

  position: absolute;

  top: 61.2px;

  z-index: 99;

  font-size: 1.4em;

  background-color: white;

  position: fixed;

  box-shadow: inset 0px 0px 1.5px 0px rgba(200,200,200,1);
}

#logo{

  width:200px;

  height: 60px;

  line-height: 60px;

  text-align: center;

  letter-spacing: 0.25em;

  font-size: 0.9em !important;

  margin:auto;
}

#projects,#mail{

  min-width:92px;

  height: 60px;

  line-height: 60px;

  letter-spacing: 0.2em;

  font-size: 0.1em !important;
}

#projects{

  position: absolute;

  z-index: 98;
}



/* -------------------點擊按鈕後網頁背景變黑的動畫設定---------------------------------------------*/

#cover{

  position: relative; 

  left: 0px; 

  top: 62px; 

  width: 100vw;

  background: #000; 

  height: calc(var(--totalHeight) * 1px);

  filter: alpha(opacity=60); 

  opacity: 0.7; 

  display: none;

  z-index: 97;
}



/* -------------------menu欄與寄信欄設定---------------------------------------------*/

#menu,#sentMail{

  width: 220px;

  height: 100vh;
}



/* -------------------menu欄設定---------------------------------------------*/

#menu {

  left: -220px;
}

#sentMail{

  right: -220px;
}

.hover-line-links{

  width: 180px;

  height: 100%;

  padding: 40px 20px;

  letter-spacing: 0.3em;

  font-size: 0.5em !important;

  font-family: Tahoma,Arial Black;

  font-weight: bold;
}

.hover-line-links li{

  margin: 0  0 50px 20px ;
}

.hover-line-links li a{

  text-decoration:none;

  color: black;
}

.hover-line-links li a p{

  display: inline-block
}

#menuLi1-1,#menuLi2-1,#menuLi3-1,#menuLi4-1,#menuLi5-1{

  display: none;

}



/* -------------------aboutUs關於我們---------------------------------------------*/

#aboutUs{

  width: 100%;

  height: 100%;

  position: fixed;

  top: 100%;

  z-index: 100;

  opacity: 1;

  display: none; 
}

#aboutUs1{

  width: 100%;

  height: 30px;

  position: relative;

  top: 20%;

  font-size: 0.9em;

  color: white;

  text-align: center;
}

#aboutWords{

  opacity: 0;
}

#aboutUs2{

  width: 100%;

  height: 300px;

  font-size: 0.9em;

  position: relative;

  top: 25%;

  z-index: 3;

  text-align: center;

  opacity: 0;
}

#aboutUs2-1,#aboutUs2-2{

  padding-top: 50px;
    
  height: 300px;

  color: white;

  font-size: 12px;

  line-height: 25px;

  letter-spacing: 0.4px;
}

#aboutUs2-2{
  display: block;
}


#aboutUs2-2-b{

  font-size: 13.5px;
}



/* -------------------news設定---------------------------------------------*/

#news{

  display: none;

  z-index: 200;
}

#news li{

  width: 200px;

  height: 600px;

  float: left;
}



/* -------------------menu欄與寄信欄設定---------------------------------------------*/

#menu,#sentMail{

  width: 220px;height: 100vh;
}



/* -------------------寄信欄設定---------------------------------------------*/

#sentMailContent{

  width: 100%;

  height: 200px;

  padding:31px 20px 0px 20px;
}

#sentMailP1{

  letter-spacing: 0.2em;

  font-size: 0.1em !important;

  width: 100%;

  height: 35px;

  text-align: center;

  float: left;
}

#sentMailP2{

  font-size: 1px;

  line-height:28px;

  float: left;
}

#sentMailInput1{

  margin-left:10px;
}

#sentMailInput2{

  margin-left:10px;

  margin-top: 30px;
}

#sentMailTextarea{

  margin:30px 0px 25px 9px;

  resize: none;
}

#sentMailInput3{

  margin: auto;
}



/* -------------------content設定---------------------------------------------*/

#content{

  height: 100vh;

  float: left;
}



/* -------------------網頁文字大小(自動調整)---------------------------------------------*/

.navFontSize {

  font-family: Tahoma,Arial Black;

  font-weight: bold;
  
  cursor: default;
}



/* -------------------網頁文字大小(自動調整)---------------------------------------------*/

#photoContent,#photoContent2{

  margin: 63px 0 0 0;

  padding: 0;

  width: 100%;

  height: 100%;

  position: absolute;

  left: 0%;

  opacity: 1;
}

#photoContent2{

  top: 100%;
}

#photoContent ul{

  padding: 0;

  margin: 0;
}

#contentLeftSide ul{

  padding: 0;

  margin: 0;
}

#contentLeftSide li{

  padding: 0;

  margin: 0;
}

#contentLeftSide0{

  width: 110% !important;

  height: 100%;

  float: left;

  z-index: 2;

  position: absolute;

  left: 0%;

  background: #000; 

  height: calc(var(--totalHeight) * 1px);

  filter: alpha(opacity=60); 

  opacity: 0.3;

  display: none; 
}     

#contentLeftSide1{

  width: 80%;

  height: 100%;

  float: left;

  z-index: 1;

  position: absolute;

  left: 0%;
}

#contentLeftSide1A{

  width: 80%;

  height: 100%;

  float: left;

  z-index: 1;

  position: absolute;

  left: 0%;
}

#contentLeftSide2{

  width: 80%;

  height: 100%;

  float: left;

  position: absolute;

  left: 70%;

  z-index: 3;

  display: none;
}

#contentLeftSide3{

  width: 80%;
  
  height: 100%;

  float: left;

  position: absolute;

  left: -70%;
  
  z-index: 3;

  display: none;
}

#contentLeftSide1 a{

  display:flex;

  align-items:center;

  justify-content:center;

  cursor: default; 
}

img{

  margin: 0% 0% -3% 2%;

  width: 100%;

  height: 49%;

  float: left;
}

img:first-child{

  padding-top: 1.2%;
}

img:last-child{

  padding-bottom: 3%;
}

#contentRightSide,#contentRightSideA{

  width: 20%;

  height: 100%;

  background-color: white;

  float: left;

  right: 0%;

  position: absolute;

  z-index: 10;

  overflow: hidden;
}

#contentRightSide{

  top: 62px;

  position: fixed;
}

#contentRightSideA{

  top: 0;

  position: absolute;
}

#contentRightSide0{

  width: 100%;

  height: 100%;

  background-color: white;

  float: left;

  top: 0px;

  left: 0%;

  position: absolute;

  z-index: 12;

  background: #000; 

  filter: alpha(opacity=60); 

  opacity: 0.3; 

  display: none;
}

#contentRightSide1{

  width: 100%;

  height: 100%;

  background-color: white;

  float: left;

  top: 0px;

  left: 0%;

  display:flex;

  align-items:center;

  justify-content:center;

  position: absolute;

  z-index: 11;
}

#contentRightSide2,#contentRightSide3{

  width: 100%;

  height: 100%;

  background-color: white;

  float: left;

  top: 0px;

  display:flex;

  align-items:center;

  justify-content:center;

  position: absolute;

  z-index: 13;
}

#contentRightSide2{

  left: -100%;
}

#contentRightSide3{

  left: 100%;
}

#contentRightSideTitle{

  width: 100%;

  height: 10%;

  position: absolute;

  top:0;

  box-shadow: inset 0px 0px 1.5px 0px rgba(200,200,200,1);

  margin: 0;
}

#contentRightSideIntroduction{

  width: 100%;

  height: 90%;

  position: absolute;

  top:10%;
}

.title1,.title2,.title3{

  background-repeat: no-repeat;

  background-position: center;

  opacity: 0.5;

  cursor: pointer; 
}
